* {
  font-family: "Open Sans", sans-serif;
  font-style: "Regular";
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 2.5rem;
  flex-wrap: wrap;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #010101;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.5rem;
}

.light {
  font-weight: 300;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

h4 {
  color: rgba(85, 85, 85, 1);
}

p {
  font-size: 1.5rem;
}

a {
  font-size: 1.5rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 2rem;
  height: 6rem;
  width: 100%;
}

.nav-link {
  display: flex;
  justify-content: center;
  width: 10rem;
}

.nav-link a {
}

.nav-link a:hover {
  font-size: 1.75rem;
}

.wrapper {
  display: grid;
  margin: 0 auto;
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  background-image: url("/assets/bkg.jpg");
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: 100%;
  height: calc(0.5625 * 98vw);
  max-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  margin-left: 8.5rem;
  margin-top: 50%;
}

.welcome-text h1 {
  line-height: 1;
}

.upper-text {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.upper-text * {
  margin-right: 40px;
}

.logo {
  height: fit-content;
}

.about {
  margin: 8.5rem;
}

.experience-container {
  margin-top: 8.5rem;
}

.about-me-container {
  display: flex;
  margin-top: 8.5rem;
  justify-content: space-evenly;
  align-items: center;
}

.text-container {
  width: 100%;
  max-width: 25rem;
}

.img-container {
  max-height: 25rem;
}

img {
  height: 100%;
  width: 100%;
  max-height: 25rem;
  max-width: 25rem;
}

.experience,
.education,
.projects,
.contact {
  display: grid;
  align-items: center;
  justify-items: center;
  margin-top: 8.5rem;
}

.contact {
  width: 41.5rem;
  margin: 8rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
}

.contact img {
  height: 5rem;
  width: 5rem;
}

.projects {
  gap: 5rem;
}

.projects a {
  font-size: 1.25rem;
  text-decoration: underline;
}

.gradient-bkg {
  background: linear-gradient(
    #010101,
    #09181d,
    #09181d,
    #0b2026,
    #133843,
    rgba(202, 181, 171, 1),
    rgba(175, 153, 169, 1),
    #205f71
  );
}

/* CARD */
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 2.5rem;
  margin-top: 5rem;
}

.experience-card {
  max-width: 20rem;
  border: 1px solid rgba(59, 84, 56, 1);
  background-color: rgba(9, 10, 11, 0.384);
}

.head {
  display: flex;
  flex-direction: column;
  background-color: rgba(9, 10, 11, 1);
  padding: 2.5rem;
  gap: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 2.5rem;
}

.experience-card .tools {
  margin-top: 2.5rem;
}

.experience-card p {
  font-size: 1.25rem;
}

.experience-card li {
  font-size: 1.25rem;
}

.experience-card ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1.5rem;
  width: 100%;
  gap: 0rem;
  flex-wrap: wrap;
}

.big-card {
  background-color: rgba(9, 10, 11, 0.384);
  width: 41.5rem;
}

.big-card .head {
  border-bottom: 1px solid green;
}

.big-card p {
  font-size: 1.25rem;
}

@media only screen and (max-width: 1100px) {
  .about-me-container {
    flex-direction: column-reverse;
    gap: 8.5rem;
  }
}
