* {
  font-family: "Open Sans", sans-serif;
  font-style: "Regular";
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  gap: 2.5rem;
  flex-wrap: wrap;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #010101;
  min-width: 100vw;
}

.wrapper {
  display: grid;
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.5rem;
}

.light {
  font-weight: 300;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
}

h4 {
  color: rgba(85, 85, 85, 1);
}

p {
  font-size: 1.5rem;
}

a {
  font-size: 1.5rem;
}

.hamburger-menu {
  display: none;
}

.drop-down-menu {
  display: none;
}

nav {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  gap: 2rem;
  height: 6rem;
  width: 100%;
}

.nav-link {
  display: flex;
  justify-content: center;
  width: 10rem;
  height: 2rem;
}

.nav-link a:hover {
  font-size: 1.6rem;
}

.home {
  display: flex;
  flex-direction: column;
  background-image: url("./assets/bkg.jpg");
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: 100%;
  height: calc(0.5625 * 98vw);
  max-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.welcome-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-left: 8.5rem;
  margin-top: 50%;
}

.welcome-text h1 {
  line-height: 1;
}

.upper-text {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.upper-text * {
  margin-right: 2rem;
}

.logo {
  height: fit-content;
}

.about {
  margin: 8.5rem;
}

.experience-container {
  margin-top: 8.5rem;
}

.about-me-container {
  display: flex;
  margin-top: 8.5rem;
  justify-content: space-evenly;
  align-items: center;
}

.text-container {
  width: 100%;
  max-width: 25rem;
}

.img-container {
  max-height: 25rem;
}

img {
  height: 100%;
  width: 100%;
  max-height: 25rem;
  max-width: 25rem;
}

.experience,
.education,
.projects,
.contact {
  display: grid;
  align-items: center;
  justify-items: center;
  margin-top: 8.5rem;
}

.contact {
  margin: 8rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
}

.contact img {
  height: 5rem;
  width: 5rem;
}

.contact img:hover {
  opacity: 0.6;
}

.projects {
  gap: 5rem;
}

.projects a {
  font-size: 1.25rem;
  text-decoration: underline;
}

.gradient-bkg {
  background: linear-gradient(
    #010101,
    #09181d,
    #09181d,
    #0b2026,
    #133843,
    rgba(202, 181, 171, 1),
    rgba(175, 153, 169, 1),
    #205f71
  );
  width: 100%;
}

.back-btn {
  opacity: 0;
  transition: opacity 1s;
}

.back-btn.show-arrow {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  padding: 1rem;
  border: 0.3rem solid white;
  opacity: 0.05;
}

.back-btn:hover {
  opacity: 1;
  cursor: pointer;
}

/* CARD */
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 2.5rem;
  margin-top: 5rem;
}

.card {
  opacity: 0;
}

.active-card {
  opacity: 1;
  margin-bottom: 0rem;
  transition: all linear 0.7s;
}

.experience-card {
  max-width: 20rem;
  border: 1px solid #3b5438;
  background-color: rgba(9, 10, 11, 0.384);
  box-shadow: #0000008e 3px 4px 20px 3px;
}

.head {
  display: flex;
  flex-direction: column;
  background-color: rgba(9, 10, 11, 1);
  padding: 2.5rem;
  gap: 1.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 2.5rem;
}

.experience-card .tools {
  margin-top: 2.5rem;
}

.experience-card p {
  font-size: 1.25rem;
}

.experience-card li {
  font-size: 1.25rem;
}

.experience-card ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1.5rem;
  width: 100%;
  gap: 0rem;
  flex-wrap: wrap;
}

.big-card {
  background-color: rgba(9, 10, 11, 0.384);
  width: 41.5rem;
}

.big-card .head {
  border-bottom: 1px solid green;
}

.big-card p {
  font-size: 1.25rem;
}

@media only screen and (max-width: 700px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.25rem;
  }

  nav {
    display: none;
  }

  .drop-down-menu {
    display: none;
  }

  .drop-down-menu.active {
    position: fixed;
    display: block;
    background-color: #010101f8;
    z-index: 5;
    height: 100vh;
    width: 100%;
  }

  .menu-items-container {
    display: flex;
    margin-top: 12rem;
    gap: 4rem;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    justify-content: flex-start;
  }

  .hamburger-menu {
    position: fixed;
    display: block;
    z-index: 6;
    right: 2rem;
    top: 2rem;
    width: 4rem;
    height: 4rem;
    transition: all 1s;
  }

  .hamburger-menu.active {
    position: fixed;
    display: block;
    z-index: 6;
    right: 2rem;
    top: 2rem;
    width: 4rem;
    height: 4rem;
    transition: all 1s;
  }

  .hamburger-menu #line1 {
    position: block;
    transform: rotate(0deg);
    transition: all linear 0.1s;
  }

  .hamburger-menu #line2 {
    opacity: 1;
  }

  .hamburger-menu #line3 {
    position: block;
    transform: rotate(0deg);
    transition: all linear 0.1s;
  }

  .hamburger-menu.active #line1 {
    position: absolute;
    transform: rotate(45deg);
    transition: all linear 0.1s;
  }

  .hamburger-menu.active #line2 {
    opacity: 0;
  }

  .hamburger-menu.active #line3 {
    position: absolute;
    transform: rotate(-45deg);
    transition: all linear 0.1s;
  }

  .hamburger-menu .container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .hamburger-menu .container .line {
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
  }

  .nav-link a {
    font-size: 2rem;
  }

  .welcome-text {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .upper-text * {
    margin-right: 1rem;
  }

  .home {
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: flex-end;
  }

  .about {
    margin: 5rem;
  }

  .experience-container {
    margin-top: 5rem;
  }

  .about-me-container {
    gap: 5rem;
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .experience,
  .education,
  .projects,
  .contact {
    margin-top: 5rem;
  }

  .big-card {
    max-width: 80vw;
    margin: 0;
  }

  .contact {
    max-width: 80vw;
  }

  .contact img {
    width: 3rem;
  }

  .back-btn.show-arrow {
    display: none;
  }
}

@media only screen and (max-width: 1100px) {
  .about-me-container {
    flex-direction: column-reverse;
    gap: 8.5rem;
  }

  .back-btn.show-arrow {
    right: 2rem;
    bottom: 2rem;
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid white;
  }
}

@media only screen and (min-width: 1920px) {
  .home {
    margin-top: -18.5rem;
    margin-bottom: 8.5rem;
  }
}
